$primary: rgb(34, 237, 112);
$secondary: rgb(0, 124, 146);
$tertiary: 31, 31, 31;
$bg: 173, 244, 235;
:root{
	--bs-primary-rgb: #{$primary};
	--bs-secondary-rgb: #{$secondary};
	--bs-tertiary: rgb(#{$tertiary});
	--bs-tertiary-rgb: #{$tertiary};
    --bs-bg: rgb(#{$bg});
	--bs-bg-rgb: #{$bg};
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4, h5, h6, .font-cookie{
	font-family: 'Cookie', cursive;
}
.font-times{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
}
h1{
	font-size: 3.8rem;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	line-height: 80%;
}
h2{
	font-size: 2.8rem;
	line-height: 80%;
}
main{
	width: 100%;
	min-height: 100vh;
	padding-bottom: 70px;
}
header{
	nav{
		&.nav-header{
			position: sticky;
			top: 0;
			background-color: var(--bs-bg);
			z-index: 800;
		}
	}
}
section{
	min-height: 140px;
	margin-bottom: 70px;
}
ul, ol{
	padding: 0;
	list-style: none;
}
.nav-link{
	cursor: pointer;
}